/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* .tile{
  flex-grow: 2;
  place-items: center;
} */

.tile {
  background-image: '/public/spriteSheet.png';
  background-size: 320px 320px;
  /* will-change: background-position; */
}
.object {
  width: 64px;
  height: 64px;
  pointer-events:none;
}

.red {
  background-color: orange;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.brown{
  background-color: brown;
}

.tile_grid{
  display: grid;
  /* place-items: center; */
}

/* .item_menu{
  display: flex;
} */

.menu_items{
  display: flex;
}

.menu_tabs{
  display: flex;
}

.menu_tab{
  height:30px;
  background-color: darkgray;
  outline: 2px black solid;
}

.item{
  background-color: darkgray;
  outline: 2px black solid;
  place-items: center;
  place-content: center;
  width: 100px;
  height: 100px;
}

.color{
  width: 100px;
  height: 100px
}

.selected{
  background-color: gray;
}

.form{
  display: inline;
}

.map_list{
  display: flex;
  flex-wrap: wrap;
}
.map{
  background-color: darkgray;
  border-radius: 40px;
  justify-content: center;
  height: 200px;
  width: 200px;
}
.map:hover{
  outline: #0a0a0a solid 2px;
  background-color: gray;
}

.top{display: flex;
position: sticky;
top: 0;
justify-items: end;
}

/* .tile:hover{
  outline: #0a0a0a solid 2px;
} */