/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.tile {
  background-image: '/public/spriteSheet.png';
  background-size: 320px 320px;
  /* will-change: background-position; */
}
.object {
  width: 64px;
  height: 64px;
  pointer-events:none;
}


.tile_grid{
  display: grid;
  justify-self: center;
  /* place-items: center; */
}

.menu_items{
  display: flex;
}

.menu_tabs{
  display: flex;
}

.menu_tab{
  height:30px;
  background-color: darkgray;
  outline: 2px black solid;
}

.item{
  background-color: darkgray;
  outline: 2px black solid;
  place-items: center;
  place-content: center;
  width: 100px;
  height: 100px;
}

.color{
  width: 100px;
  height: 100px
}

.selected{
  background-color: gray;
}

.form{
  display: inline;
}

.map_list{
  display: flex;
  flex-wrap: wrap;
}
.map{
  background-color: darkgray;
  border-radius: 40px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
}


.map:hover{
  outline: #0a0a0a solid 2px;
  background-color: gray;
}

.top{display: flex;
position: sticky;
align-items: center;
top: 0;
min-width: 1000px;
}

.links{
  align-self: center;
  display: flex;
  width: 400px;
  justify-content: space-between;
}

.link{
  background-color: gray;
  padding: 10px;
  border-radius: 10px;
}