/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.tile{
  flex-grow: 2;
  place-items: center;
}
.object {
  width: 64px;
  height: 64px;
}

.red {
  background-color: orange;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.brown{
  background-color: brown;
}

.tile_grid{
  display: grid;
  /* place-items: center; */
}

/* .item_menu{
  display: flex;
} */

.menu_items{
  display: flex;
}

.menu_tabs{
  display: flex;
}

.menu_tab{
  height:30px;
  background-color: darkgray;
  outline: 2px black solid;
}

.item{
  background-color: darkgray;
  outline: 2px black solid;
  place-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
}

.color{
  width: 100px;
  height: 100px
}

.selected{
  background-color: gray;
}